################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PythonListFixedArrayStarter/PythonListFAStarterProject/.vs/PythonListFAStarterProject/v15/Browse.VC.opendb
